body{
  font-family: Poppins;
}
html{
  font-size: 62.5%;
}

:root {
  --black-color: #000000;
  --background-color: #ffffff;
  --individual-background-color: #ffffff;
  --white-color: #ffffff;
  --grey-color: #666666;
  --ash-color: #cccccc;
  --light-blue: #13B0F5;
  --pink: #E70FAA;
  --light-purple: #42446E;
  --tech-stack: #42446E;
  --position-color-green: #018c0f;
  --company-location-time: #a7a7a7;
  --contact-font-color: #1e0e62;
  --button-hover-color: #747694;
  --button-hover-font: #0f0909;
  --mobile-nav-bg: whitesmoke;
}

.App {
  background-color: var(--background-color);
  
}
a {
  text-decoration: none;
}
.header {
  margin: 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans, 'Times New Roman';
  padding: 20px 0;
  position: sticky;
  top: 0;
}

.responsive_nav{
  display: none;
}
.nav-socials-icon {
  display: none;
}
.hero-navvy {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.name-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.name-braces {
  font-size: 3.5rem;
}
.name-and-logo {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon{
  margin: 0;
  padding: 0;
}
.logo-text {
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(to right, var(--light-blue), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.navigation-and-socials {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  color: var(--grey-color);
  gap: 60px;
}
.hero-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: var(--grey-color);
}
.hero-navigation a{
  color: var(--grey-color);
  text-decoration: none;
}
.navigation-icons {
  display: flex;
  gap: 30px;
}
.navigation-icons a{
  color: var(--grey-color);
}
main {
  margin: 20px 140px 0 140px;
}

/* .home {
  position: relative;
} */
.day-night-switch {
  position: fixed;
  bottom: 40px;
  right: 140px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: -5px 10px 10px rgb(110, 32, 95);
  cursor: pointer;
}
.day-night-switch:active {
  transform: scale(0.95);
}

.hero-section {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-introduction {
  font-size: 5.8rem;
  font-weight: bold;
  color: var(--light-purple);
}
.picture-container{
  height: 349px;
  width: 349px;
  display: flex;
  padding: 9px;
  border-radius: 50%;
  background: linear-gradient(to top, var(--light-blue), var(--pink));
  
}
.picture-container img {
  max-height: 100%;
  width: auto;
  border-radius: 50%;
  border: 9px solid transparent;
}
.josephdon-name {
  background: linear-gradient(to right, var(--light-blue), var(--pink));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
/* tech-stack starts here */
.tech-stack-main {
 height: 100%;
}
.techstack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.techstack-container h1{
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--light-purple);
  margin: 0;
  padding: 0;
}
.techstack-container h3{
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--grey-color);
  margin: 0;
  padding: 0;
}
.technologies-container {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.technologies-container button{
  background: none;
  padding: 30px;
  border-radius: 3px;
  border: 0.5px solid var(--light-purple);
}
.technologies-container button:hover{
  /* background: var(--ash-color); */
  opacity: 60%;
}

.technologies-matchlist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  margin: 30px 0;
}

.technologies-matchlist-container p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--grey-color);
  width: 100%;
  text-align: left;
}
.technologies-matchlist {
  width: 90%;
  text-align: left;
  font-size: large;
  margin: 0;
}

.technologies-matchlist a {
  color: var(--grey-color);
  cursor: pointer;
}


.projects-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}


.projects-outer-container h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--light-purple);
  margin: 0;
  padding: 0;
}

.projects-outer-container h3 {
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--grey-color);
  margin: 0;
  padding: 0;
}
.projects-outer-container > p {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 400;
  color: var(--grey-color);
  margin: 0;
  padding: 0;
}
.projects-container {
  margin: 90px 0;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  /* align-items: stretch; */
}
.projects-page-container {
  margin: 0;
}

/* projects page */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* align-items: center; */
}

.projects h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--light-purple);
  margin: 0;
  padding: 0;
}

.projects h3 {
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--grey-color);
  margin: 10px 0;
  padding: 0;
}
.projects > p {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--grey-color);
  margin: 10px 0 20px 0;
  padding: 0;
}
.individual-project {
  background: none;
  width: 373px;
  height: 567px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 ;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 15px rgb(0, 0, 0);
  font-family: Poppins;
  margin: 10px 0 20px 0;
  transition: transform 0.2s ease-in-out;

}
.individual-project:hover{
transform: scale(1.05);
}
.individual-project-div{
  width: 100%;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: var(--individual-background-color);
}
.project-image-container{
  width: 100%;
  height: 260px;
}
.project-image-container img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
}
.individual-project-without-image{
  height: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  border: none;
  color: var(--black-color);
}
.project-title {
  font-size: 2.8rem;
  font-weight: 560;
  width: 100%;
  text-align: center;
}
.project-description {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: left;
  margin: 10px 0;
  color: var(--grey-color);
}
.project-tech-stack {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
  color: var(--tech-stack);
}
.project-tech-stack span{
  font-size: 1.4rem;
  font-weight: 300;
  /* color: pink; */
}
.project-links{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--black-color);
  text-decoration: underline;
  }

.footer-container {
  margin: 0 140px;
  color: var(--light-purple);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: DM Sans, 'Times New Roman';
  padding: 20px 0;
}

.developed-and-designed {
  display: flex;
  flex-direction: column;
  font-size: 2.0rem;
  font-weight: 500;
  color: var(--grey-color);
  /* gap: 60px; */
}

.gradient-text {
  /* color: var(--pink); */
  background: linear-gradient(to right, var(--light-blue), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.gradient-text a{
  /* color: var(--pink); */
  background: linear-gradient(to right, var(--light-blue), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.about{
  /* margin-bottom: 100px; */
  padding-bottom: 100px;
}
.about h1{
  color: var(--light-purple);
}
.about-me {
  width: 55%;
  margin: 30px 0;
  color: var(--grey-color);
  font-size: 1.8rem;
  font-weight: 500;
}
.experience-container {
  width: 55%;
  margin: 10px 0 40px 0;
}
.experience{
  padding: 15px 0;
  border-bottom: var(--ash-color) 2px solid;
}

.education-container {
  width: 55%;
}

.title-and-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--grey-color);
}
.position {
  border-radius: 100px;
  color: var(--position-color-green);
  background-color: #d7ffe0;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding: 10px 30px;
}
.company-location-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--company-location-time);
}
.company-and-location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contact {
  padding: 100px 0 230px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact p{
  color: var(--contact-font-color);
  font-weight: 700;
  font-size: 5.8rem;
  padding: 0;
  margin: 0;
}
.contact p a{
    background: linear-gradient(to right, var(--light-blue), var(--pink));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Tech stack page */
.tech {
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;

}

.tech-container {
  width: 100%;
  margin: 40px auto 400px auto;

}

/* Individual Item Description */
.individual-item-title{
  text-align: center;
  /* color: pink; */
}
.individual-item-title a{
  /* text-align: center;  */
  color: var(--contact-font-color);
}
.item-properties {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0);
  position: relative;
}
.carousel-container-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* top: 0; */
}
.item-image-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.image-wrapper {
  transition: transform 0.3s ease-in-out;
  flex: 0 0 650px;
  margin: 0 10px;
}
.image-wrapper img{
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--black-color);
}

.position-0 {
  order: 2;
  /* Middle */
}

.position-1 {
  order: 3;
  /* Right */
}

.position-2 {
  order: 1;
  /* Left */
}

.nav-button {
  background: transparent;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  height: 200px;
  color: var(--contact-font-color);
  box-shadow: 2px 4px 5px rgb(0, 0, 0);
  background: transparent;
  align-items: center;
  border-radius: 4px;
  margin: 0 20px;
  transition: transform 0.3s ease;
}
.nav-button:hover{
  transform: scale(1.3);
}

.item-description{
  /* background-color: var(--position-color-green); */
  padding: 0 10px;
  color: var(--grey-color);
  /* width: 450px; */
}

.item-description-title{
  text-align: center;
}
.item-description-title a{
  color: var(--contact-font-color);
}

.individual-item-code{
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-item-code-button {
  width: 400px;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  background: var(--light-purple);
  color: var(--white-color);
  font-family: Poppins;
  cursor: pointer;
}
  .individual-item-title {
    font-size: 2.4rem;
  }

  .item-description-title {
    font-size: 2.4rem;
  }

  .item-description div {
    font-size: 1.6rem;
  }
  .other-comments {
    padding: 0 10px;
    font-size: 1.6rem;
    color: var(--grey-color);
  }
  .other-comments ul li a{
    color: var(--grey-color);
  }

.individual-item-code-button:hover {
  background: var(--button-hover-color);
  color: var(--button-hover-font);
}

.project-body-link {
  color: var(--black-color);
}

.mathjax{
  color: var(--black-color);
}
.links-in-concepts {
  color: purple;
  background: none;
  border: none;
  font-family: Poppins;
}
.links-in-concepts:hover {
    transform: scale(1.05);
}

/* Dark page */
.error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 150px 0;
}
.error-text {
  font-size: 5.2rem;
  font-weight: 700;
  color: var(--contact-font-color);
  padding: 0;
  margin: 0;
}
.error-smaller-text {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--contact-font-color);
}

/* Dark Theme */
[dark-theme="dark"] {
  --background-color: #000000;
  --light-purple: #cccccc;
  --individual-background-color: #363636;
  --tech-stack: #cccccc;
  --contact-font-color: #cccccc;
}
[dark-theme="dark"] .individual-project-without-image{
  --black-color: #cccccc;
}
[dark-theme="dark"] .project-description{
  --grey-color: #cccccc;
}
[dark-theme="dark"] .hero-navvy{
  --mobile-nav-bg: #000000;
  --grey-color: #a7a7a7;
  --contact-font-color: #cccccc;
}
[dark-theme="dark"] .mathjax{
  --black-color: #ffffff;
}



/* Responsive design for only mobile */

@media (max-width: 767px) {
  /* Mobile */
  .header {
      margin: 0 10px;
      padding: 10px 0;
      position: relative;
    }
    .nav-socials-icon {
      display: block;
    }
    .hero-navvy {
      position: absolute;
      top: 11px;
      right: -5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 70vw;
      height: 85vh;
      background: var(--mobile-nav-bg);
      border-radius: 5px;
      box-shadow: -5px 4px 15px rgb(110, 32, 95);
    }
    .hero-navigation {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* margin: 0 0; */
    }
    .hero-navigation a{
      width: 100%;
      text-align: center;
      color: var(--contact-font-color);
    }
    .navigation-icons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
    }
    .navigation-icons a{
      color: var(--contact-font-color);
      /* fill: var(--contact-font-color); */

    }
    .close-nav {
      order: 1;
    }
    .navigation-icons {
      order: 3;
    }
    .hero-navigation {
      order: 2;
    }
    .nav-button-container{
      width: 100%;
      padding: 10px;
    }
    .nav-socials-icon {
      color: var(--contact-font-color);
      margin: 0 10px 0  auto;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 25%;
      box-shadow: 1px 2px 5px rgb(110, 32, 95);
    }
    .responsive_nav {
      display: none;
    }
    .navigation-icons a {
      width: 100%;
      text-align: center;
    }
    main {
      margin: 10px 10px 0 10px;
    }
    .hero-section {
      padding: 50px 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
    .hero-introduction {
      font-size: 2.9rem;
      font-weight: bold;
      color: var(--light-purple);
    }
    .hero-navigation a {
      color: var(--grey-color);
      text-decoration: none;
    }

    .picture-container {
      padding: 0;
    }

    .techstack-container  {
      margin-bottom: 50px;
    }
    .techstack-container h3 {
      font-size: 1.6rem;
    }
    .technologies-container {
      margin: 50px 0 0 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .projects-outer-container h3 {
      font-size: 1.6rem;
    }
    .projects-outer-container > p {
      font-size: 1.6rem;
    }
    .projects-container {
      margin: 45px 0;
      width: 100%;
      display: flex;
      /* justify-content: space-between; */
      align-items: flex-start;
      gap: 20px;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .projects-container>* {
      flex-shrink: 0;
      /* Prevent children from shrinking */
    }
    .projects-container::-webkit-scrollbar {
      height: 8px;
    }
    .projects-container::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    .projects-container::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }
    .projects-container::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .footer-container {
      margin: 0 10px;
      color: var(--light-purple);
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer .name-and-logo{
      display: none;
    }
    .footer .navigation-and-socials {
      flex-direction: column;
    }
    .footer .navigation-icons {
      flex-direction: row;
    }
    .footer .hero-links {
      display: none;
    }
    .about {
      /* width: 100%; */
      margin: 10px;
    }
    .about-me {
      width: 100%;
    }
    .experience-container{
      width: 100%;
      /* margin: 0 20px; */
    }
    .experience {
      padding: 15px 10px;
      border-bottom: var(--ash-color) 2px solid;
    }
    .education-container {
      width: 100%;
      /* border-bottom: var(--ash-color) 2px solid; */
    }
    .education {
      padding: 0 10px 15px 10px;
      /* border-bottom: var(--ash-color) 2px solid; */
    }
    /* .title-and-position {} */
    .company-location-time {
      width: 100%;
      flex-direction: column;
      justify-content: left;
    }
    .company-and-location {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      gap: 10px;
      text-align: left;
    }
    .centralize {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 10px;
    }
    .projects h1 {
      font-size: 2.4rem;
    }
    .projects h3 {
      font-size: 1.6rem;
    }
    .projects > p{
      font-size: 1.6rem;
    }
    .contact p {
      font-size: 2.9rem;
    }

    .contact p a {
      font-size: 1.6rem;
    }
    .item-properties {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .individual-item-title {
      font-size: 2.4rem;
    }
    .item-description-title {
      font-size: 2.4rem;
    }

    .item-description div {
      font-size: 1.6rem;
    }

    .other-comments {
      padding: 0 10px;
      font-size: 1.6rem;
    }
    .day-night-switch {
      /* position: fixed; */
      bottom: 40px;
      right: 20px;
    }
    .error-text {
      font-size: 2.6rem;
      font-weight: 700;
    }

    .error-smaller-text {
      font-size: 1.3rem;
      font-weight: 500;
    }
}

